body {
    background-color: #bad6df;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #e4dada;
    padding: 10px;
}

.nav h5 {
    margin: 0;
    padding-right: 700px;
    font-size: 18px;
    color: #333;
}

.nav h6 {
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 18px;
    color: #333;
}

.main {
    padding: 20px;
    width: 60%;
    margin: 50px auto;
    display: flex;
}

.main ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
}

.main li {
    background-color: #F3E8D8;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 5, 5);
}

.main li:hover {
  transform: translateY(-4px);
}

.main img {
    width: 180px;
    height: 270px;
    object-fit: cover;
    display: block;
}

.main h2 {
    min-height: 60px;
}