
body {
    background-color: #bad6df;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #e4dada;
    padding: 10px;
}

.nav h5 {
    margin: 0;
    padding-right: 700px;
    font-size: 18px;
    color: #333;
}

.nav h6 {
    margin: 0;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 18px;
    color: #333;
}

.main {
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    margin: 50px auto;
    background-color: #f9f9f9;
    display: flex;
}

.main ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0;
}

.main img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}