body {
    background-color: #F5E6CC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    color: #f3f0ee;
    align-items: center;
    padding: 15px 40px;
    background: #72594d;
}

.logo {
    margin: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #f3f0ee;
    font-weight: bold;
}

.search {
    width: 250px;
    padding: 8px 14px;
    border: 1px solid #aaa;
    border-radius: 20px;
    outline: none;
}

.library-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
    padding: 0;
}

.sidebar {
    width: 250px;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
    padding: 8px;
}

.sidebar ul {
    list-style: none;
    padding: 5px;
}

.sidebar li {
    display: inline-block;
    text-decoration: none;
    color: #111;
    cursor: pointer;
    border: 2px solid #111;
    padding: 12px 24px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 0.7rem;
    margin: 5px 0;
    transition: all 0.25s ease;
}

.sidebar li:hover {
    transform: translateY(-3px);
}

.sidebar li.active {
    background-color: #111;
    color: #f3f0ee;
}

.card {
    padding: 20px;
    padding-top: 40px;
    width: 60%;
    margin: 50px auto;
    display: flex;
    flex: 1;
}

#book-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0;
}

.card li {
    background-color: #FFF8F0;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 5, 5);
}

.card li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card li:hover {
    transform: translateY(-4px);
}

.card img {
    width: 180px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card h2 {
    min-height: 60px;
}

.card p {
    font-size: .8rem;
}

/* Admin page */

.admin-title {
    text-align: center;
    margin-top: 50px;
    font-size: 4rem;
    color: #72594d;
}

.admin-main {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}


.dashboard ul {
    list-style: none;
    border: 2px solid #111;
    border-radius: 20px;
    background-color: #FFF8F0;
    padding: 20px;
}

.dashboard li {
    background-color: #e07e6d;
    border: 2px solid #111;
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px 20px;
}

.actions ul {
    list-style: none;
    border: 2px solid #111;
    border-radius: 20px;
    padding: 20px;
    background-color: #FFF8F0;
}

.actions li {
    background-color: #e07e6d;
    padding: 10px 20px;
    border: 2px solid #111;
    border-radius: 20px;
    margin: 10px 0;
}